version: '3.8'

services:
  mongodb:
    build: ./database
    ports:
      - 27017:27017
    volumes:
      - mongo-data:/data/db
    networks:
      - app-network

  backend:
    build: ./backend
    ports:
      - "3000:3000"
    depends_on:
      - mongodb
    networks:
      - app-network

  frontend:
    build: ./frontend
    ports:
      - "8080:8080"                     # Access app at localhost:8080
    depends_on:
      - backend
    networks:
      - app-network

volumes:
  mongo-data:                         # Named volume definition

networks:
  app-network:
    driver: bridge                    # Custom network for container communication